body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.header.dark,
.navbar.dark,
.footer.dark,
.content.dark {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

h1.dark,
h2.dark,
h3.dark,
h4.dark,
h5.dark,
h6.dark {
  color: #ffcc80;
}

p.dark,
ul.dark,
ol.dark,
li.dark {
  color: #e0e0e0;
}

.nav-link.dark {
  color: #ffcc80;
}
.nav-link.dark:hover {
  color: #ff7c1f;
}

.styled-table.dark th,
.styled-table.dark td {
  color: #fff;
}
.styled-table.dark th {
  background-color: #ff7c1f;
}
.styled-table.dark tr:nth-child(even) {
  background-color: #333;
}

input.dark,
textarea.dark,
select.dark {
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
}

button.dark,
input[type="submit"].dark,
input[type="reset"].dark {
  background-color: #ff7c1f;
  color: #fff;
}

.dark .reviews-section {
  background-color: #2c2c2c;
  color: #f5f5f5;
}
.dark .review-form input {
  background-color: #444;
  border-color: #666;
  color: #f5f5f5;
}
.dark .reviews-list li {
  background-color: #3b3b3b;
  border-left-color: #ff7c1f;
  color: #f5f5f5;
}
.dark #reservations-section {
  background-color: #242424;
  color: #f5f5f5;
  border-left-color: #ff7c1f;
}
.dark .reservations-list li {
  background-color: #3b3b3b;
  color: #f5f5f5;
  border-left-color: #ff7c1f;
}
.dark input,
.dark textarea,
.dark select {
  background-color: #3b3b3b;  
  color: #f5f5f5;             
  border-color: #ff7c1f;      
}


.dark #messages-section {
  background-color: #3b3b3b;
  color: #f5f5f5;
  border-left-color: #ff7c1f;
}

.dark .messages-list li {
  background-color: #3b3b3b;
  color: #f5f5f5;
  border-left-color: #ff7c1f;
}
